.zinacor{
    color: #381F92;
    margin-right: 1rem;
}

.hero-heading>div:nth-child(2){
    margin-left: 12rem;
}

.common-Sec-Heading>span{
    margin-left: 7rem;
}

.Section2-left-part-bottomSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 13rem;
    margin-bottom: 4rem;
}

.zincAluminium, .zincFormulas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.zincAluminium{
    padding: 0.2rem 0rem;
}

.zincAluminium h3{
    font-size: 14px;
    
}

.zincAluminium a{
    font-size: 14px;
    color: #A4A4B9;

}

.zincFormulas h1{
    color: #381F92;
    font-size: 44px;
    font-weight: 900;
}

.sec2-rightPart>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E4E4E4;
    width: 60%;
    height: 350px;
    position: relative;
    bottom: 5.75rem;

}

.circularLogo{
    position: relative;
    bottom: 0rem;
    z-index: 1;
}

.zinc-coil{
    width: 100%;
    
}

.Section2-Card-sec{
    display: flex;

}

.Section-2>.line{
    margin-bottom: 0;
}

.card{
    height: 175px;
    width: 30%;
    padding: 2%;
    padding-top: 0%;
    border-right: #381F92 solid 1px;
}

.card3{
    border-right: none;
}

.card>div{
    padding: 2rem;
    padding-bottom: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    height: 90%;
}

.card>div>p{
    font-size: 14px;
}

.card>div>h6{
    font-size: 18px;
    font-weight: 600;
}

.card>div>a{
    text-decoration: none;
    color: #000;
    justify-items: flex-end;
    margin-top: 1rem;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.card2>div>a{
    margin-top: 2.25rem;
}

.Reference-heading{
    margin-bottom: 5rem;
}

 /* Reference-sec Content-sec */

 .Reference-Content-sec{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Reference-Content, .Reference-Content>div{
    display: flex;
    flex: row;
    justify-content: space-between;
    gap:4rem;
}

.sNo{
    font-size: 16px;
}
.oilplatform{
    
    height: 300px;
    margin-right: 2rem;
}


.Reference-Content-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    letter-spacing: 0.05rem;
   
}

.Rfct h2{
    margin-bottom: 2rem;
}

.Rfct div p{
    font-size: 16px;
    margin-bottom: 0.3rem;
}

.Rfct-formula{
    color: #381F92;
}

 /* //--FOOTER SECTION--// */

 .footer-products{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
}

.top-line{
    height: 2px;
    background-color: #381F92;
    margin-bottom: 0.5rem;
}

.footer-products-heading-section{
    display: flex;
    flex-direction: row;
}

.footer-products-heading{
    font-size: 40px;
    font-weight: 900;
    width: 55%;
    align-self: center;
    margin-left: 0.5rem;
}

.footer-elements{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-element-text, .footer-element-text>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-element-text>div>div{
    font-size: 24px;
    margin-left: 1.75rem;
}

.line{
    height: 1px;
    width: 100%;
    background-color: #381F92;
    margin-bottom: 1rem;
}

/* other-wires-sec Start */

.other-wires-arrow{
    transform: rotate(-45deg);
}

.other-wires-details{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 3rem;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.other-wires-details>div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.chemical-formula{
    text-decoration: underline;
    font-weight: 600;
}

/* other-wires-sec End */

.footer-arrow{
    align-self: center;
    margin: 0;
    height: 12px;
    width: 12px;
}

.reference-arrow{
    align-self: flex-end;
    margin: 0;
    height: 12px;
    width: 12px;
}

.other-wires-arrow{
    transform: rotate(-75deg);
}

.zincOre{
    height: 150px;
    width: fit-content;
    position: relative;
    top: 12rem;
    left: 60rem;
    z-index: 1;
    
}
