nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo{
    width: 20px;
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
    border: 3px solid #382092;
}

.nav-list{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-end;
}