@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gothic+A1:wght@500&family=IBM+Plex+Sans:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Gothic A1";
    width: 100vw;
    padding: 1rem 0rem;
    /* background-color: #1c1c1c;
    color: #fff; */
}

/* //---- Nav-bar ----// */

nav{
    width: 88vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
}

/* nav-logo */
.logo{
    width: 20px;
    font-size: 14px;
    font-family: "Bebas Neue";
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    padding: 1px 1px;
    border: 2px solid #381F92;
}

/* nav-rightSide-part */
.right-part{
    display: none;
}

.cross{
    display: none;
}

/* //--- HeroSection ----// */

.hero-heading{
    width: 88vw;
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    font-size: 22px;
    font-weight: 700;
    font-family: "montreal";
    /* letter-spacing: -0.2rem; */
    margin-bottom: 10px;
}

.zinacor{
    color: #381F92;
    margin-right: 0.2rem;
}

.arrow{
    height: 14px;
    width: 14px;
    border-right: 4px solid #381F92;
    border-bottom: 4px solid #381F92;
    /* margin-top: 10px;
    margin-left: 6rem; */
}

.hero-first-sec{
    text-align: center;
    /* margin-left: -12rem;  */
    display: flex;
    flex-direction: row;
    
    
}

.hero img{
    width: 100vw;
    
}

/* protection -section */

.protection{
    width: 90vw;
    margin: auto;
}

.list-line{
    margin-top: 0rem;
    border-bottom: 1px solid #381F92 ;
}

.divider-lines{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
}

.divider-lines>li{
    height: 14px;
    border-right: 1.25px solid #381F92;
    margin-right: 10.5rem;
}

.divider-lines>li:nth-child(2){
    margin-right: 12rem;
}

.divider-lines>li:nth-child(3){
    margin-right: 11.5rem;
}


@media screen and (min-width:660px) {   

/* //--- Navbar Section ----//  */
nav{
    width: 85vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
}

.hamburgerMenu{
    display: none;
}
    
.logo{
    width: 26px;
    font-size: 18px;
    font-family: "Bebas Neue";
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    padding: 1px 1px;
    border: 3px solid #381F92;
}

.nav-list{
    display: flex;
    flex-direction: row;
    font-size: 0.65rem;
    gap: 1rem;
    justify-content: flex-end;
   
}

/* navBar-right-section */
.right-part{
    display: flex;
    flex-direction: column;
    
}

.languages{
    margin-left: 1rem;
}

.divider-lines{
    
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 0.35rem;
}

.divider-lines>li{
    height: 6px;
    border-right: 1px solid #381F92;
    margin-right: 4.1rem;
}

.divider-lines>li:nth-child(2){
    margin-right: 4.8rem;
}

.divider-lines>li:nth-child(3){
    margin-right: 4.3rem;
}

.nav-list-line{
    margin-top: 0rem;
    border-bottom: 1px solid #381F92 ;
}

/* //-- Hero Section --// */



}

/* Medium Screens */
@media screen and (min-width:768px) {

  
/* //--- Navbar Section ----//  */
.logo{
    width: 32px;
    font-size: 20px;
    font-family: "Bebas Neue";
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    border: 3px solid #381F92;
}

/* navBar-right-section */
.nav-list{
    display: flex;
    flex-direction: row;
    font-size: 0.65rem;
    font-weight: 600;
    gap: 1.5rem;
    justify-content: flex-end;
   
}

.languages{
    margin-left: 2.5rem;
}

.divider-lines{
    
    margin-top: 0.4rem;
}

.divider-lines>li{
    height: 8px;
    border-right: 1px solid #381F92;
    margin-right: 4.5rem;
}

.divider-lines>li:nth-child(2){
    margin-right: 5.25rem;
}

.divider-lines>li:nth-child(3){
    margin-right: 4.8rem;
}

.nav-list-line{
    margin-top: 0rem;
    border-bottom: 1px solid #381F92 ;
}

/* //-- Hero Section --// */



}

/* Large Screens */
@media screen and (min-width:1024px) {
    
    .nav-list{
        font-size: 0.7rem;
    }

    .divider-lines>li{
        height: 7px;
        
    }

    
}

/* Extra Large Screens */
@media screen  and (min-width:1700px) {
    
    body{
        
        padding: 2.5rem 0rem;
        /* background-color: #1c1c1c;
        color: #fff; */
    }
    
    /* //--- Navbar Section ----//  */
    nav{
        width: 80vw;
        
    }

    .logo{
        width: 50px;
        font-size: 32px;
        padding: 4px 0px;
        border: 4.5px solid #381F92;
    }

    /* navBar-right-section */
    .nav-list{
        display: flex;
        flex-direction: row;
        font-size: 1.2rem;
        font-weight: 600;
        gap: 5rem;
        justify-content: flex-end;
       
    }

    .languages{
        margin-left: 11rem;
    }

    .divider-lines{
        margin-top: 1rem;
    }

    .divider-lines>li{
        height: 14px;
        border-right: 1.25px solid #381F92;
        margin-right: 10.5rem;
    }
    
    .divider-lines>li:nth-child(2){
        margin-right: 12rem;
    }
    
    .divider-lines>li:nth-child(3){
        margin-right: 11.5rem;
    }

    /* // --Hero Section-- // */

    .hero-heading{
        width: 88vw;
        margin: auto;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        font-size: 90px;
        font-weight: 900;
        
    }
    
    .zinacor{
        color: #381F92;
        margin-right: 0.2rem;
    }
    
    .arrow{
        height: 14px;
        width: 14px;
        border-right: 4px solid #381F92;
        border-bottom: 4px solid #381F92;
        /* margin-top: 10px;
        margin-left: 6rem; */
    }
    
    .hero-first-sec{
        text-align: center;
        /* margin-left: -12rem;  */
        display: flex;
        flex-direction: row;
        
        
    }
    
    .hero img{
        width: 100vw;
        
    }
}